@use'variable'

*   
    font-family: ' Josefin Sans'
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: variable.$bg-color
    color: variable.$text-color 

    a
        color: variable.$text-color
        text-decoration: none
        transition: .4s

    ul
        list-style: none

    .header
        display: flex
        justify-content: space-between
        